@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Rubik+Mono+One&display=swap");
@font-face {
  font-family: godo;

  src: url("GodoM.otf");
  font-weight: medium;
}
body {
  font-family: "Rubik Mono One", sans-serif;
  font-family: "Gamja Flower", cursive;
  font-family: godo;
  background-color: rgba(35, 59, 39, 0.5);
}
a {
  text-decoration: none;
  color: #0d6efd;
  color: #000;
}
img {
  width: 100%;
  vertical-align: middle;
}
