<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="app_title">document</title>
    <link id="css_reset" href="css/reset.css" rel="stylesheet">
    <link id="css_bootstrap" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link id="css_fontawesome" rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link id="css_style" rel="stylesheet" href="css/style.css">
    <link id="css_sidebar" rel="stylesheet" href="css/sidebar.css">
    <link id="css_link" rel="stylesheet" href="" >
</head>
<body>
    
    <div id="app"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    
    <script type="module" src="model/model.js"></script>
    <script type="module" src="router.js"></script>
    <script type="module" src="app.js"></script>
    <script>
        document.addEventListener("readystatechange", () => {
  const state = document.readyState;
  console.log(state);
  if (state === "interactive") {
    const loding = document.createElement("div");
    const lodingText = document.createElement("h6");
    const text = document.createTextNode("도그램, 반려동물이 주는 평화");
    lodingText.appendChild(text);
    loding.classList.add("loding");
    loding.innerHTML = "<img src='img/loding.gif' class='loadimg'></img>";
    loding.appendChild(lodingText);
    loding.style.width = "100px";
    lodingText.style.marginTop = "30px";
    document.querySelector("#app").style.background = "rgb(216, 193, 173)";
    document.querySelector("#app").style.height = "100vh";
    document.querySelector("#app").style.display = "flex";
    document.querySelector("#app").style.justifyContent = "center";
    document.querySelector("#app").style.alignItems = "center";
    document.querySelector("#app").appendChild(loding);
  } else if (state === "complete") {
    document.querySelector("#app").style.background = "";
    document.querySelector("#app").style.height = "auto";
    document.querySelector("#app").style.display = "block";
  }
});
    </script>

</body>
</html>